.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

@media screen and (max-width: 500px) {
    .card-list{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.category {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
